/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* HEADER - Home */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr max-content;
  place-items: center;
  gap: 50px;
  padding: 20px 0 80px 0;
  color: white;
  background-color: #1f2937;
}

.header .right-btns {
  grid-column: 2 / 3;
}

.header .left-logo {
  grid-column: 1 / 2;
  justify-self: center;
  font-size: 24px;
  color: #f9faf8;
}

.header-text {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  justify-self: end;
  width: 65%;
}

.header-image {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/* SECTION TWO - Menu */

.main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  padding-bottom: 50px;
}

.main-content h2 {
  grid-column: 1 / 4;
  place-self: center;
  font-size: 36px;
}

.right-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-content .right-btns {
  grid-column: 4 / 5;
  justify-self: center;
}

.main-content > div {
  width: 180px;
  text-align: center;
}

.main-content img {
  width: 170px;
  height: 145px;
  border-radius: 20px;
}

.main-content p {
  margin-top: 5px;
  margin-bottom: 0;
  color: gray;
}
